@import url('https://fonts.googleapis.com/css?family=Kelson+Sans&display=swap');

html {
    position: relative;
    min-height: 100%;
}

/* If the screen size is 1200px wide or more, set the font-size to 80px */
@media (min-width: 1200px) {
    .responsive-font-example {
        font-size: 80px;
    }
}

/* If the screen size is smaller than 1200px, set the font-size to 80px */
@media (max-width: 1199.98px) {
    .responsive-font-example {
        font-size: 30px;
    }
}

:root {
    --esn-orange: rgb(244, 123, 32); /* ESN Orange */
    --esn-magenta: rgb(236, 0, 140); /* ESN Magenta */
    --esn-cyan: rgb(0, 174, 239); /* ESN Cyan */
    --esn-green: rgb(122, 193, 67); /* ESN Green */
    --esn-dark-blue: rgb(46, 49, 146); /* ESN Dark Blue */

    /* Half-transparent versions */
    --esn-orange-half: rgba(244, 123, 32, 0.2);
    --esn-magenta-half: rgba(236, 0, 140, 0.2);
    --esn-cyan-half: rgba(0, 174, 239, 0.2);
    --esn-green-half: rgba(122, 193, 67, 0.2);
    --esn-dark-blue-half: rgba(46, 49, 146, 0.2);
}


.flex-container {
    display: flex;
    flex-wrap: nowrap; /* Prevents the left-column and events-container from wrapping */
}

.left-column {
    flex: 0 0 20%;
    margin-right: 20px; /* Adjust the space as needed */
}

.events-container {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 10px;
    margin-left: 20px; /* Adjust the space as needed */
}


.event-card {
    flex: 1 1 200px; /* Adjust this basis according to how wide you want each card to be */
    /* Additional styling for individual event cards */
}


.btn-info {
    background-color: #00aeef;
    border-color: #00aeef;
}

button.event-day {
    background-color: var(--esn-green);
    color: #ffffff;
}

button {
    background-color: var(--esn-dark-blue);
    margin: 1px;
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem var(--esn-cyan);
}

body {
    margin-bottom: 60px;
    font-family: 'Kelson Sans', sans-serif;
    background: #F4F7FD;
    margin-top: 20px;
}


a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a {
    color: var(--esn-cyan);
}

.btn-primary {
    color: #fff;
    background-color: var(--esn-dark-blue);

    border-color: var(--esn-dark-blue);
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    color: #fff;
    background-color: var(--esn-dark-blue);
    border-color: var(--esn-dark-blue);
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

.custom-img-size {
    position: relative;
    width: 100%;
    max-width: 500px;
    height: auto;
}

/*----------------------------------Additional -------------------------------------------*/
.card {
    border: 0;
    box-shadow: 0 0 10px 0 rgba(82, 63, 105, 0.1);
    -webkit-box-shadow: 0 0 10px 0 rgba(82, 63, 105, 0.1);
    -moz-box-shadow: 0 0 10px 0 rgba(82, 63, 105, 0.1);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #ffffff;
    background-clip: border-box;
    border: 1px solid #e6e4e9;
    border-radius: 8px;
}

.card .card-header.no-border {
    border: 0;
}

.card .card-header {
    background: none;
    padding: 0 0.9375rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    min-height: 50px;
}

.card-header:first-child {
    border-radius: calc(8px - 1px) calc(8px - 1px) 0 0;
}


.lesson-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
}

/*-------------------slideshow--------------------------*/
* {
    box-sizing: border-box
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

/*--Home columns--*/

.column {
    flex: 1;
    min-width: 250px;
    max-width: 300px;
    margin: 0 10px 10px;
    cursor: pointer;
}

.column p {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin: 0;
}

.column p:hover {
    background-color: #f0f0f0;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.column p:not(:first-child) {
    border: none;
}

/*----------CAROUSEL-----------*/

.carousel-item-container {
    display: flex;
    justify-content: center;
    height: 500px;
    width: 100%;
    overflow: hidden;
}

.carousel-img {
    width: 100%;
    object-fit: cover; /* Image covers the container */
    object-position: top; /* Align image to the top */
}

/*--------------TEST CUSTOM ESN STYLES----------------*/

.esn-orange {
    background-color: var(--esn-orange);
    border-color: var(--esn-orange);
    color: white;
}

.esn-magenta {
    background-color: var(--esn-magenta);
    border-color: var(--esn-magenta);
    color: white;
}

.esn-cyan {
    background-color: var(--esn-cyan);
    border-color: var(--esn-cyan);
    color: white;
}

.esn-green {
    background-color: var(--esn-green);
    border-color: var(--esn-green);
    color: white;
}

.esn-dark-blue {
    background-color: var(--esn-dark-blue);
    border-color: var(--esn-dark-blue);
    color: white;
}

/*--------------TEST CUSTOM ESN STYLES Transparent----------------*/

.esn-orange-half {
    background-color: var(--esn-orange-half);
    border-color: var(--esn-orange);
    /*color: white;*/
}

.esn-magenta-half {
    background-color: var(--esn-magenta-half);
    border-color: var(--esn-magenta);
    /*color: white;*/
}

.esn-cyan-half {
    background-color: var(--esn-cyan-half);
    border-color: var(--esn-cyan);
    /*color: white;*/
}

.esn-green-half {
    background-color: var(--esn-green-half);
    border-color: var(--esn-green);
    /*color: white;*/
}

.esn-dark-blue-half {
    background-color: var(--esn-dark-blue-half);
    border-color: var(--esn-dark-blue);
    /*color: white;*/
}


.esn-orange,
.esn-magenta,
.esn-cyan,
.esn-green,
.esn-dark-blue,
.esn-orange-half,
.esn-magenta-half,
.esn-cyan-half,
.esn-green-half,
.esn-dark-blue-half{
    width: 115px;
    display: inline-block;
    text-align: center;
}


/*---------------background colors-------------*/

.esn-green-half-bg {
    background-color: var(--esn-green-half);
    border-color: var(--esn-green);
}

.esn-dark-blue-bg {
    background-color: var(--esn-dark-blue);
    border-color: var(--esn-dark-blue);
}
.esn-dark-blue-half-bg {
    background-color: var(--esn-dark-blue-half);
    border-color: var(--esn-dark-blue);
}

.profile-img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/*---------------background colors-------------*/

.react-calendar__tile--now {
    background-color: var(--esn-cyan) !important; /* Use !important to ensure override */
    color: white!important;
}

.react-calendar__tile--active{
    background-color: var(--esn-dark-blue) !important; /* Use !important to ensure override */
    color: white!important;
}

