@import url('https://fonts.googleapis.com/css?family=Kelson+Sans&display=swap');

html {
    /*font-size: 40px;*/
}

/* If the screen size is 1200px wide or more, set the font-size to 80px */
@media (min-width: 1200px) {
    .responsive-font-example {
        font-size: 80px;
    }
}

/* If the screen size is smaller than 1200px, set the font-size to 80px */
@media (max-width: 1199.98px) {
    .responsive-font-example {
        font-size: 30px;
    }
}

.flex-container {
    display: flex;
    flex-wrap: nowrap; /* Prevents the left-column and events-container from wrapping */
}

.left-column {
    flex: 0 0 20%;
    margin-right: 20px; /* Adjust the space as needed */
}

.events-container {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 10px;
    margin-left: 20px; /* Adjust the space as needed */
}


.event-card {
    flex: 1 1 200px; /* Adjust this basis according to how wide you want each card to be */
    /* Additional styling for individual event cards */
}


.btn-info {
    background-color: #00aeef;
    border-color: #00aeef;
}

button.event-day {
    background-color: rgba(146, 46, 86, 0.24);
    color: #ffffff;
}

.btn-danger:hover {
    background-color: #ec008c;
    border-color: #ec008c;
}

button {
    background-color: #2e3192;
    margin: 1px;
}

img {
    margin: 1%;
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: 'Kelson Sans', sans-serif;
    /*font-family: 'Comic Sans MS', cursive;*/
}


a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a {
    color: #0077cc;
}

.btn-primary {
    color: #fff;
    background-color: #2e3192;

    border-color: #2e3192;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    color: #fff;
    background-color: #2e3192;
    border-color: #2e3192;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}

/*----------------------------------Additional -------------------------------------------*/
.card {
    border: 0;
    box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
    -ms-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #ffffff;
    background-clip: border-box;
    border: 1px solid #e6e4e9;
    border-radius: 8px;
}

.card .card-header.no-border {
    border: 0;
}

.card .card-header {
    background: none;
    padding: 0 0.9375rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    min-height: 50px;
}

.card-header:first-child {
    border-radius: calc(8px - 1px) calc(8px - 1px) 0 0;
}

body {
    background: #F4F7FD;
    margin-top: 20px;
}


.lesson-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
}