@import url('https://fonts.googleapis.com/css?family=Kelson+Sans&display=swap');

html {
    font-size: 40px;
}

/*@media (min-width: 768px) {*/
/*    html {*/
/*        font-size: 16px;*/
/*        */
/*    }*/
/*}*/

/* If the screen size is 1200px wide or more, set the font-size to 80px */
@media (min-width: 1200px) {
    .responsive-font-example {
        font-size: 80px;
    }
}
/* If the screen size is smaller than 1200px, set the font-size to 80px */
@media (max-width: 1199.98px) {
    .responsive-font-example {
        font-size: 30px;
    }
}

button {
    background-color: #2e3192;
    /* You can adjust other styles as needed */
    color: white; /* For text color */
    border: none; /* Remove border */
    padding: 10px 20px; /* Adjust padding */
    border-radius: 5px; /* Add border radius for rounded corners */
}

img {
    margin: 1%;
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: 'Kelson Sans', sans-serif;
    /*font-family: 'Comic Sans MS', cursive;*/
}



a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a {
    color: #0077cc;
}

.btn-primary {
    color: #fff;
    background-color: #2e3192;

    border-color: #2e3192;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #fff;
    background-color: #2e3192;
    border-color: #2e3192;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}

/*----------------------------------Additional -------------------------------------------*/
.card {
    border: 0;
    box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
    -ms-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #ffffff;
    background-clip: border-box;
    border: 1px solid #e6e4e9;
    border-radius: 8px;
}

.card .card-header.no-border {
    border: 0;
}
.card .card-header {
    background: none;
    padding: 0 0.9375rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    min-height: 50px;
}
.card-header:first-child {
    border-radius: calc(8px - 1px) calc(8px - 1px) 0 0;
}
body{
    background: #F4F7FD;
    margin-top:20px;
}



.lesson-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
}